Repository CS3219-SE-Principles-and-Patterns/cs3219-project-ay2122-2122-s1-g27, pull requests merged in 2021-11, with the labels that each got.

#61 MongoDB Cloud & Socket Auth
  .github/workflows/question.yml
  .github/workflows/userprofile.yml
  QuestionService/.env.sample
  QuestionService/.eslintrc.js
  QuestionService/README.md
  QuestionService/configs.js
  QuestionService/infrastructure/persistence/mongo.js
  UserProfileService/.env.sample
  UserProfileService/README.md
  UserProfileService/application/handler/matchHandler.js
  UserProfileService/application/service/auth-service.js
  UserProfileService/configs.js
  UserProfileService/controller/routeController.js
  UserProfileService/infrastructure/persistence/mongo.js
  UserProfileService/infrastructure/persistence/repository.js
  UserProfileService/package.json
  UserProfileService/server/index.js
  UserProfileService/test/endpoint.test.js
  UserProfileService/test/utils.js
  UserProfileService/yarn.lock
Labels: UserProfileService, QuestionService

#70 Wire services
  .github/workflows/question.yml
  QuestionService/.env.sample
  QuestionService/application/service/common.js
  QuestionService/application/service/question-service.js
  QuestionService/application/service/room-service.js
  QuestionService/application/util/response.js
  QuestionService/application/util/utilities.js
  QuestionService/controller/auth.js
  QuestionService/controller/index.js
  QuestionService/package.json
  QuestionService/test/endpoint.test.js
  QuestionService/test/utils.test.js
  QuestionService/yarn.lock
  UserProfileService/.env.sample
  UserProfileService/README.md
  UserProfileService/application/handler/matchHandler.js
  UserProfileService/application/util/constants.js
  UserProfileService/configs.js
  UserProfileService/controller/socketController.js
  UserProfileService/index.js
  UserProfileService/package.json
  UserProfileService/yarn.lock
Labels: UserProfileService, QuestionService

#76 OrchestrationII
  CollabSocketService/.dockerignore
  CollabSocketService/.env.sample
  CollabSocketService/Dockerfile
  CollabSocketService/README.md
  CollabSocketService/configs.js
  CollabSocketService/index.js
  CommunicationService/.dockerignore
  CommunicationService/Dockerfile
  CommunicationService/README.md
  CommunicationService/controller/routeController.js
  CommunicationService/controller/socketController.js
  CommunicationService/server/index.js
  FrontEnd/src/pages/AuthenticationPage/index.js
  FrontEnd/src/pages/CollaborationPage/index.js
  FrontEnd/src/pages/MatchingPage/index.js
  QuestionService/Dockerfile
  QuestionService/README.md
  QuestionService/controller/index.js
  QuestionService/test/endpoint.test.js
  QuestionService/test/utils.test.js
  README.md
  UserProfileService/.env.sample
  UserProfileService/Dockerfile
  UserProfileService/README.md
  UserProfileService/application/handler/matchHandler.js
  UserProfileService/application/service/auth-service.js
  UserProfileService/application/util/constants.js
  UserProfileService/configs.js
  UserProfileService/controller/routeController.js
  UserProfileService/server/index.js
  UserProfileService/test/endpoint.test.js
  build_images.sh
  docker-compose.yml
Labels: Orchestration/Deployment

#77 FrontEnd + Code Editor Bug Fixes
  .gitignore
  CollabSocketService/index.js
  CollabSocketService/package.json
  CollabSocketService/yarn.lock
  FrontEnd/.env.sample
  FrontEnd/package.json
  FrontEnd/src/App.js
  FrontEnd/src/configs.js
  FrontEnd/src/index.js
  FrontEnd/src/pages/AuthenticationPage/index.js
  FrontEnd/src/pages/CollaborationPage/chatcard.js
  FrontEnd/src/pages/CollaborationPage/index.js
  FrontEnd/src/pages/MatchingPage/MatchingModal.js
  FrontEnd/src/pages/MatchingPage/index.js
  FrontEnd/yarn.lock
Labels: bug, FrontEnd
